extends layout

block content
  h1= title
  if errors
    each error, i in errors
      div.alert.alert-danger #{error.msg, i}
  form(method='post', action='/posts/add/', enctype='multipart/form-data')
    .form-group
      label Title
      input.form-control(name='title', type='text', placeholder='Enter title')
    .form-group
      label Category
      select(name='category').form-control
        each category, i in categories
          option(value=category.name) #{category.name}
    .form-group
      label Body
      textarea.form-control(name='body', placeholder='Text')
    .form-group
      label Author
      select(name='author').form-control
        option(value='John') John
        option(value='Pete') Pete
    .form-group
      label Post image
      input.form-control(name='mainimage', type='file')
    button.btn.btn-primary(type='submit') Save
    script(src='/ckeditor/ckeditor.js')
    script
      | CKEDITOR.replace('body')

