extends layout

block content
  h1= title
  if posts
    each post in posts
      .post
        h1
          a(href='/posts/show/' + post._id)
            =post.title
        p.meta Posted in
          a(href='/categories/show/'+post.category) #{post.category}
          |  by #{post.author} on #{moment(post.date).format("DD-MM-YYYY")}
        img(src='/images/uploads/' + post.mainimage)
        !=truncatedText(post.body, 180)
        a.more(href='/posts/show/' + post._id) Read More

